<!doctype html>
<title>{% block title %}HairCare{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text"> <!--vertically stacked-->
            <div class="google-colors">
                <!-- <h1 id="google-4">4</h1>
                <h1 id="google-3">3</h1>
                <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1> -->
                <h1 class="google-red">H</h1>
                <h1 class="google-green">A</h1>
                <h1 class="google-red">I</h1>
                <h1 class="google-red">R</h1>
                <h1 class="google-yellow">C</h1>
                <h1 class="google-yellow">A</h1>
                <h1 class="google-blue">R</h1>
                <h1 class="google-yellow">E</h1>
            </div>
            <div>
                <label>I have </label>
                <input placeholder="Color (e.g. Dark Brown)" id="hair-color">
                <label>, </label>
                <input placeholder="Type (e.g. Oily,Fine,Thin)" id="hair-type">
                <label>hair</label>
                <!-- <label> hair which suffers from </label> -->
                <label>.</label>
                <!-- <label>I have </label>
                <select name="hair-color" id="hair-color">
                    <option value="black">Black</option>
                    <option value="brown-dark">Dark Brown</option>
                    <option value="brunette">Brunette</option>
                    <option value="brown-med">Medium Brown</option>
                    <option value="brown-light">Light Brown</option>
                    <option value="blonde-dark">Dark Blonde</option>
                    <option value="blonde">Blonde</option>
                    <option value="blonde-light">Light Blonde</option>
                    <option value="blonde-plat">Platinum</option>
                    <option value="blonde-straw">Strawberry Blonde</option>
                    <option value="auburn">Auburn</option>
                    <option value="red">Red</option>
                    <option value="grey">Grey</option>
                    <option value="white">White</option>
                </select>
                <label>, </label>
                <select name="hair-types" id="hair-types" multiple>
                    <option value="dry">Dry</option>
                    <option value="normal">Normal</option>
                    <option value="oily">Oily</option>
                    <option value="straight">Straight</option>
                    <option value="wavy">Wavy</option>
                    <option value="curly">Curly</option>
                    <option value="fine">Fine</option>
                    <option value="coarse">Coarse</option>
                    <option value="thin">Thin</option>
                    <option value="thick">Thick</option>
                    <option value="chemed">Chemically Treated</option>
                    <option value="colored">Color Treated</option>
                    <option value="kinky">Kinky</option>
                </select>
                <label> hair which suffers from </label>
                <select name="hair-issues" id="hair-issues" multiple>
                    <option value="Anti">Anti-Aging</option>
                    <option value="Brittleness">Brittleness</option>
                    <option value="ColorProt">Color Protection</option>
                    <option value="Curls">Curls</option>
                    <option value="Damage">Damage</option>
                    <option value="Dandruff">Dandruff</option>
                    <option value="DryS">Dry Scalp</option>
                    <option value="DryH">Dryness</option>
                    <option value="Frizz">Frizz</option>
                    <option value="IsThis">Hair Loss</option>
                    <option value="HeatProt">Heat Protection</option>
                    <option value="OilyS">Oily Scalp</option>
                    <option value="Split">Split Ends</option>
                    <option value="Straightening">Straightening</option>
                    <option value="Volume">Volume</option>
                </select>
                <label>.</label> -->
            </div>
            <div>
                <label>I want to be recommended </label>
                <select id="want-poo">
                    <option value="yes">Shampoos</option>
                    <option value="no">No Shampoos</option>
                </select>
                <label>, </label>
                <select id="want-cond">
                    <option value="yes">Conditioners</option>
                    <option value="no">No Conditioners</option>
                </select>
                <label>, and </label>
                <select id="want-oil">
                    <option value="yes">Oils</option>
                    <option value="no">No Oils</option>
                </select>
                <label>.</label>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="I want a product that will..." id="filter-text-val">
            </div>
            <div class="search-button">
                <button type="button" onclick="filterText()">HairCare Search!</button>
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        // function answerBoxTemplate(title,titleDesc,rating){
        //     return `<div class=''>
        //         <h3 class='episode-title'>${title}</h3>
        //         <p class='episode-desc'>${titleDesc}</p>
        //         <p class='episode-rating'>IMDB Rating: ${rating}</p>
        //     </div>`
        // }

        function hairReviewTemplate(review) {
            product_name = review.product_name
            review_body = review.content
            reviewer_bio = review.profile
            indiv_rating = review.star
            // console.log(typeof(indiv_rating))
            if(indiv_rating >= 4) {
            return `<div class=''>
                <h3 class='product-name'>${product_name}</h3>
                <h6 class='reviewer-bio'>Reviewer profile: ${reviewer_bio}</h6>
                <h5 class='star-rating'>Rating: ${indiv_rating}&#x1F929;</h5>
                <p class='product-review'>${review_body}</p>
            </div>`
            } else if(indiv_rating == 3) {
            return `<div class=''>
                <h3 class='product-name'>${product_name}</h3>
                <h6 class='reviewer-bio'>Reviewer profile: ${reviewer_bio}</h6>
                <h5 class='star-rating'>Rating: ${indiv_rating}&#x1F610;</h5>
                <p class='product-review'>${review_body}</p>
            </div>`
            } else {
                return `<div class=''>
                    <h3 class='product-name'>${product_name}</h3>
                    <h6 class='reviewer-bio'>Reviewer profile: ${reviewer_bio}</h6>
                    <h5 class='star-rating'>Rating: ${indiv_rating}&#x1F4A9;</h5>
                    <p class='product-review'>${review_body}</p>
                </div>`
            }
        }

        // function hairReviewTemplate(product_name, review_body) {
        //     return `<div class=''>
        //         <h3 class='product-name'>${product_name}</h3>
        //         <p class='product-review'>${review_body}</p>
        //     </div>`
        // }

        // function hairProductTemplate(product_name, reviews_list) {
        //     // params: product name, relevant review(s?), average rating?
        //     div_template = `<div class=''>
        //         <h3 class='product-name'>${product_name}</h3>`
        //     for (let review_body of reviews_list) {
        //         div_template += `
        //             <p class='review'>${review_body}</p>`
        //     }
        //     div_template += `
        //         <p class='episode-rating'>IMDB Rating: ${rating}</p>
        //     </div>`
        //     return div_template
        // }




        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            // console.log(document.getElementById("filter-text-val").value)
            // fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            // .then((response) => response.json())
            // .then((data) => data.forEach(row => {
            let hair_color = document.getElementById("hair-color").value
            let hair_type = document.getElementById("hair-type").value
            let yes_poo = (document.getElementById("want-poo").value == 'yes')
            let yes_cond = (document.getElementById("want-cond").value == 'yes')
            let yes_oil = (document.getElementById("want-oil").value == 'yes')
            let query = document.getElementById("filter-text-val").value
            query = hair_color + ' ' + hair_type + ' ' + query

            // console.log(hair_color)
            // console.log(hair_type)
            // console.log(yes_poo)

            // console.log(query)

            // console.log(document.getElementById("filter-text-val").value)
            fetch("/reviews?" + new URLSearchParams({ query: query, wantPoo: yes_poo, wantCond: yes_cond, wantOil: yes_oil }).toString())
            .then((response) => response.json())
            .then((data) => {
                // console.log(data.shampoos)
                // console.log(typeof(data.shampoos))
                // console.log(data.conditioners)
                // console.log(data.oils)
                let shampoos = JSON.parse(data.shampoos)
                let conditioners = JSON.parse(data.conditioners)
                let oils = JSON.parse(data.oils)
                console.log(shampoos.length, conditioners.length, oils.length)
                if(shampoos.length > 0) {
                    let tempTitle = document.createElement("div")
                    tempTitle.innerHTML = `<h2 class='product-type'>Shampoos</h2>`
                    document.getElementById("answer-box").appendChild(tempTitle)
                    // console.log("shampoos")
                    // let tempTitle = document.createElement("label")
                    // tempTitle.innerHTML = 
                    // tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr,row.imdb_rating)
                    // tempDiv.innerHTML = hairProductTemplate(row.product_name, [row.content])
                    // tempDiv.innerHTML = `<p>${row}</p>`
                    //TODO: actually fix tempDiv
                    shampoos.forEach(review => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = hairReviewTemplate(review)
                        document.getElementById("answer-box").appendChild(tempDiv)
                        
                    });
                }
                if(conditioners.length > 0) {
                    let tempTitle = document.createElement("div")
                    tempTitle.innerHTML = `<h2 class='product-type'>Conditioners</h2>`
                    document.getElementById("answer-box").appendChild(tempTitle)
                    conditioners.forEach(review => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = hairReviewTemplate(review)
                        document.getElementById("answer-box").appendChild(tempDiv)
                        
                    });
                }
                if(oils.length > 0) {
                    let tempTitle = document.createElement("div")
                    tempTitle.innerHTML = `<h2 class='product-type'>Oils</h2>`
                    document.getElementById("answer-box").appendChild(tempTitle)
                    oils.forEach(review => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = hairReviewTemplate(review)
                        document.getElementById("answer-box").appendChild(tempDiv)
                        
                    });
                }
                
            });
            // .then((data) => data.forEach(row => {
                
            //     let tempDiv = document.createElement("div")
            //     // tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr,row.imdb_rating)
            //     // tempDiv.innerHTML = hairProductTemplate(row.product_name, [row.content])
            //     tempDiv.innerHTML = `<p>${row}</p>`
            //     //TODO: actually fix tempDiv
            //     document.getElementById("answer-box").appendChild(tempDiv)
            // }));

        }
            
    </script>
</body>